@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Colors */

    /* Primary */
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    /* Fonts */
    --font-family: "Bai Jamjuree", sans-serif;
    --font-wght-400: 400;
    --font-wght-600: 600;
    --font-size: 18px;
}

body{
    font-family: var(--font-family) !important;
}
.header-bottom-custom{
    margin-bottom: 160px !important;
}
.section-bottom-custom{
    margin-bottom: 115px !important;
}
.heading-color-weight{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--font-wght-600);
}
.p-color-weight{
    font-weight: var(--font-wght-400);
    color: var(--Grayish-Blue);
}
.custom-h1{
    font-size: 3rem;
}

.custom-h2{
    font-size: 2rem;
}

.custom-h3{
    font-size: 1.5rem;
}

.custom-p{
    font-size: 1.2rem;
}
.btn-custom-green{
    background-color: var(--Strong-Cyan) !important;
    color: white !important;
    font-size: var(--font-size) !important;
    border-bottom: 4px solid rgb(33, 157, 133) !important;
}
.btn-custom-blue{
    background-color: var(--Light-Blue) !important;
    color: white !important;
    font-size: var(--font-size) !important;
    border-bottom: 4px solid rgb(83, 98, 217) !important;
}

.btn-custom-green:hover,
.btn-custom-blue:hover{
    opacity: 0.8 !important;
}
.img{
    padding-top: 7rem;
    padding-bottom: 4rem;
    background: url('../images/bg-header-desktop.png') no-repeat center center/cover;
}

.img-computer{
    position: relative;
    left: -3.5rem;
    margin-right: 2rem;
}

.footer-custom{
    background-color: rgb(245, 246, 248);
}
.footer-logo{
    width: 65px !important;
}

.links a,
.social a{
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--font-wght-400);
}
.hover-green:hover{
    color: var(--Strong-Cyan) !important;
    cursor: pointer;
}
@media(max-width: 768px){
    .img-computer{
        position: static;
        margin: 3rem 1.5rem;
    }
    .custom-links{
        text-align: center;
    }
    .custom-h3,
    .custom-p-center{
        text-align: center;
    }
}
